<footer id="kontakt">
  <div class="texty">
    <h5>cena se pohybuje od <span class="bold">4 990kč</span> až <span class="bold">19 990kč</span> + vámi zvolený budget na inzerci</h5>
    <h5>máte nějaké otázky? nejste si s něčím jistí? pojďte si popovídat - zveme vás na kafe ;)</h5>
    <h5>pokud by jste měli k vašemu projektu zájem o i služby jako je marketing, tvorba contentu a webových stránek… můžete se obrátit na naší mateřskou společnost <a href="http://palmmedia.cz" class="bold">PalmMedia.cz</a></h5>
  </div>
  <div class="kontakty">
    <div class="kontakt">
      <div class="jmenoFunkce">
        <h3>JIŘÍ ŠTĚPÁNEK</h3>
        <h4>Distribuce</h4>
      </div>
      <ul>
        <li>
          <a href="tel:+420605176305">+420 605 176 305</a>
        </li>
        <li>
          <a href="mailto:juraj@palmmedia.com">juraj@palmmedia.com</a>
        </li>
        <li>
          <a href="https://instagram.com/styvekdrtic">@styvekdrtic</a>
        </li>
      </ul>
    </div>
    <div class="kontakt">
      <div class="jmenoFunkce">
        <h3>MATĚJ NOVÁK</h3>
        <h4>Foto & Video</h4>
      </div>
      <ul>
        <li>
          <a href="tel:+420828999910">+420 828 999 910</a>
        </li>
        <li>
          <a href="mailto:matej@palmmedia.com">matej@palmmedia.com</a>
        </li>
        <li>
          <a href="https://instagram.com/mama091">@mama091</a>
        </li>
      </ul>
    </div>
    <div class="kontakt">
      <div class="jmenoFunkce">
        <h3>ONDŘEJ KOČIČKA</h3>
        <h4>Vizualizace</h4>
      </div>
      <ul>
        <li>
          <a href="tel:+420777123882">+420 777 123 882</a>
        </li>
        <li>
          <a href="mailto:mnau@palmmedia.com">mnau@palmmedia.com</a>
        </li>
        <li>
          <a href="https://instagram.com/volajnamecici">@volajnamecici</a>
        </li>
      </ul>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="assets/js/app.js"></script>
</footer>
