footer {
  background: #1A1A1A;
  width: calc((100% - 100px) - 200px);
  max-width: 1240px;
  margin: 0 auto;
  color: #fff;
  padding-top: 60px;
  margin-top: 140px;
  margin-bottom: 175px;

  .texty {
    width: calc(100% - 200px);
    margin: 0 auto;
    margin-bottom: 85px;

    h5 {
      font-size: 16px;
      margin: 0;
      margin-bottom: 30px;
      line-height: 30px;

      a {
        color: #fff;
        text-decoration: none;
      }

      &:last-child {
        margin-bottom: 0;
      }

      @media screen and (max-width: 850px){
        font-size: 13px;
        line-height: 22px;
      }
    }

    @media screen and (max-width: 1260px){
      width: calc(100% - 150px);
    }

    @media screen and (max-width: 850px){
      width: calc(100% - 120px);
      margin-bottom: 60px;
    }

    @media screen and (max-width: 590px){
      width: calc(100% - 50px);
      margin-bottom: 50px;
    }
  }

  .kontakty {
    width: calc(100% - 200px);
    margin: 0 auto;
    vertical-align: top;

    .kontakt {
      display: inline-block;
      margin-right: 80px;
      margin-bottom: 60px;

      .jmenoFunkce {
        margin-bottom: 20px;

        h3 {
          font-family: bol;
          margin: 0;
          font-size: 15px;
          letter-spacing: 4px;
          display: inline-block;
          margin-right: 10px;
        }

        h4 {
          font-family: ita;
          margin: 0;
          font-size: 12px;
          color: #626262;
          display: inline-block;
        }
      }

      ul {
        padding: 0;
        margin: 0;

        li {
          margin: 0;
          display: block;
          margin-bottom: 10px;

          a {
            font-size: 13px;
            text-decoration: none;
            color: #fff;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      &:last-child {
        margin-right: 0;
      }

      @media screen and (max-width: 850px){
        margin-right: 65px;
      }

      @media screen and (max-width: 590px){
        margin-bottom: 35px;
      }

      @media screen and (max-width: 480px){
        margin-right: 0;
      }
    }

    @media screen and (max-width: 1260px){
      width: calc(100% - 150px);
    }

    @media screen and (max-width: 850px){
      width: calc(100% - 120px);
    }

    @media screen and (max-width: 590px){
      width: calc(100% - 50px);
    }
  }

  @media screen and (max-width: 1260px){
    width: calc((100% - 100px) - 100px);
  }

  @media screen and (max-width: 1000px){
    width: calc(100% - 100px);
  }

  @media screen and (max-width: 850px){
    margin-top: 80px;
    padding-top: 50px;
    margin-bottom: 50px;
  }

  @media screen and (max-width: 590px){
    width: calc(100% - 50px);
    padding-top: 30px;
    margin-bottom: 25px;
  }
}
