.jumbotron {
  position: relative;

  .podJumbotron {
    background: #F5F5F5;
    max-width: 1440px;
    width: calc(100% - 100px);
    margin: 0 auto;
    display: block;
    margin-top: 25px;
    height: 720px;

    h1 {
      font-family: med;
      color: #000;
      font-size: 33px;
      text-align: center;
      padding-top: 220px;
      padding-bottom: 25px;
      max-width: calc(100% - 60px);
      margin: 0 auto;

      .skrt {
        text-decoration: line-through;
        font-family: med;
      }

      @media screen and (max-width: 850px){
        font-size: 20px;
        padding-top: 90px;
        padding-bottom: 15px;
        line-height: 27px;
      }
    }

    a {
      text-decoration: none;
      color: #B8B8B8;
      font-size: 12px;
      text-align: center;
      display: block;
    }

    @media screen and (max-width: 850px){
      height: 320px;
    }

    @media screen and (max-width: 780px){
      margin-top: 0;
    }

    @media screen and (max-width: 590px){
      width: calc(100% - 50px);
    }
  }

  .tablet {
    width: calc((100% - 100px) - 200px);
    max-width: 1240px;
    margin: 0 auto;
    background: #1A1A1A;
    text-align: center;
    padding: 120px 0;
    position: relative;
    top: -190px;
    margin-bottom: -190px;

    h2 {
      font-size: 18px;
      color: #fff;
      text-align: center;
      margin: 0 auto;
      width: calc(100% - 64px);
      max-width: 650px;
      line-height: 30px;

      @media screen and (max-width: 850px){
        font-size: 12px;
        line-height: 21px;
      }

      @media screen and (max-width: 590px){
        width: calc(100% - 60px);
      }
    }

    @media screen and (max-width: 1260px){
      width: calc((100% - 100px) - 100px);
    }

    @media screen and (max-width: 850px){
      padding: 45px 0;
      top: -95px;
      margin-bottom: -95px;
    }

    @media screen and (max-width: 590px){
      width: calc(100% - 100px);
      padding: 30px 0;
      margin-bottom: -110px;
    }
  }
}

.sluzby {
  width: calc((100% - 100px) - 200px);
  max-width: 1240px;
  margin: 0 auto;

  .sluzba {
    margin-top: 130px;

    .blok {
      display: inline-block;
      vertical-align: middle;
      width: calc((100% - 100px)/2);

      .napis {
        display: flex;
        flex-flow: row;

        .carka {
          background: url("../img/carka.png");
          background-size: 100% 100%;
          background-position: center;
          background-repeat: no-repeat;
          height: 2px;
          width: 100px;
          display: inline-block;
          vertical-align: middle;
          margin-right: 20px;
          position: relative;
          top: 25px;

          @media screen and (max-width: 1260px){
            width: 50px;
          }

          @media screen and (max-width: 850px){
            width: 75px;
            top: 20px;
          }

          @media screen and (max-width: 420px){
            display: block;
            position: static;
            margin: 0;
            margin-bottom: 15px;
          }
        }

        h3 {
          font-family: ita;
          font-size: 17px;
          color: #000000;
          letter-spacing: 2.32px;
          display: inline-block;
          vertical-align: middle;
          text-transform: uppercase;

          @media screen and (max-width: 850px){
            font-size: 14px;
            letter-spacing: 1.91px;
          }

          @media screen and (max-width: 420px){
            display: block;
          }
        }

        @media screen and (max-width: 420px){
          display: block;
          flex-flow: nowrap;
        }
      }

      p {
        font-size: 13px;
        color: #000000;
        line-height: 27px;
        float: left;

        @media screen and (max-width: 850px){
          max-width: 480px;
          width: 100%;
          font-size: 12px;
          line-height: 25px;
          margin: 0;
          margin-top: 25px;
        }

        @media screen and (max-width: 590px){
          max-width: none;
        }

        @media screen and (max-width: 420px){
          line-height: 24px;
        }
      }

      @media screen and (max-width: 1260px){
        width: calc(70% - 50px);
      }

      @media screen and (max-width: 850px){
        width: 100%;
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
      }
    }

    .fotka {
      height: 160px;
      width: 380px;
      display: inline-block;
      vertical-align: middle;
      margin-left: calc(((100% - 100px)/2 - 380px - 100px)/2 + 100px);

      @media screen and (max-width: 1260px){
        width: 230px;
        margin-left: calc(((100% - (70% - 50px)) - 230px)/2);
      }

      @media screen and (max-width: 850px){
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
        width: 380px;
        height: 160px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 40px;
      }

      @media screen and (max-width: 590px){
        width: 100%;
        margin-left: auto !important;
        margin-right: auto !important;
        float: none;
        height: 180px;
      }
    }

    &:nth-child(1) {
      margin-top: 140px;

      .fotka {
        background: url("../img/foto.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      @media screen and (max-width: 850px){
        margin-top: 80px;
      }
    }

    &:nth-child(2) {
      .napis {
        float: right;

        @media screen and (max-width: 420px){
          float: none;
        }
      }

      .fotka {
        background: url("../img/marketing.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: calc(((100% - 100px)/2 - 380px - 100px)/2 + 95px);

        @media screen and (max-width: 1260px){
          margin-right: calc(((100% - (70% - 50px)) - 230px)/2 - 5px);
        }

        @media screen and (max-width: 850px){
          margin-right: 0;
          margin-left: calc(100% - 380px);
        }
      }

      .carka {
        order: 2;
        margin-right: 0 !important;
        margin-left: 20px;

        @media screen and (max-width: 420px){
          margin: 0;
          margin-bottom: 15px;
        }
      }

      h3 {
        order: 1;
      }

      p {
        text-align: right;

        @media screen and (max-width: 850px){
          float: right;
        }

        @media screen and (max-width: 420px){
          float: none;
          text-align: left;
        }
      }
    }

    &:nth-child(3) {
      .fotka {
        background: url("../img/organizace.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    &:nth-child(4) {
      .napis {
        float: right;

        @media screen and (max-width: 420px){
          float: none;
        }
      }

      .fotka {
        background: url("../img/spoluprace.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: calc(((100% - 100px)/2 - 380px - 100px)/2 + 95px);

        @media screen and (max-width: 1260px){
          margin-right: calc(((100% - (70% - 50px)) - 230px)/2 - 5px);
        }

        @media screen and (max-width: 850px){
          margin-right: 0;
          margin-left: calc(100% - 380px);
        }
      }

      .carka {
        order: 2;
        margin-right: 0 !important;
        margin-left: 20px;

        @media screen and (max-width: 420px){
          margin: 0;
          margin-bottom: 15px;
        }
      }

      h3 {
        order: 1;
      }

      p {
        text-align: right;

        @media screen and (max-width: 850px){
          float: right;
        }

        @media screen and (max-width: 420px){
          float: none;
          text-align: left;
        }
      }
    }

    @media screen and (max-width: 850px){
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      /* optional */
      -webkit-box-align: start;
      -moz-box-align: start;
      -ms-flex-align: start;
      -webkit-align-items: flex-start;
      align-items: flex-start;
    }

    @media screen and (max-width: 850px){
      margin-top: 80px;
    }
  }

  @media screen and (max-width: 1260px){
    width: calc((100% - 100px) - 100px);
  }

  @media screen and (max-width: 590px){
    width: calc(100% - 50px);
  }
}
